/* Solo imágenes del contenido principal de los archivos Markdown */
main .md-typeset img {
    display: block;                 /* mantiene la imagen como bloque */
    margin-left: 0;                 /* alineada a la izquierda */
    margin-right: auto;             /* empuja el resto hacia la derecha */
    border: 3px solid var(--md-primary-fg-color);
    width: 60%;                     /* ocupa el 60% del contenedor */
    max-width: 100%;                /* nunca excede el ancho del contenedor */
}

/* Paleta para el esquema slate / modo oscuro */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #325FA9;  /* azul principal */
  --md-primary-fg-color--light: #4A75B8; /* azul más claro para resaltar */
  --md-primary-fg-color--dark:  #1E3D70; /* versión oscura */

  --md-accent-fg-color:         #325FA9; 
  --md-accent-fg-color--light:  #4A75B8;
  --md-accent-fg-color--dark:   #1E3D70;
}

/* Opcional: color de selección de texto */
body[data-md-color-scheme="slate"] ::selection {
    background-color: #4A75B8; /* azul más claro al seleccionar texto */
    color: #ffffff; /* texto blanco sobre el fondo azul */
}
